# 📦 Dependencies
node_modules
.pnpm-debug.log*

# ⚛️ Next.js
.next/
out/
build/

# 🌍 Env files (no subir credenciales)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 🧪 Testing
coverage/

# 🔧 TypeScript
*.tsbuildinfo
next-env.d.ts

# 🖥️ OS / Editor
.DS_Store
.vscode
.idea

# ▲ Vercel
.vercel

# 🔑 Misc
*.pem

